# Bagging Classifier

In [1]:
from common import get_prediction, split_data, get_data
import preprocessing as prep
import numpy as np

## Cargamos el dataset

In [2]:
data = get_data()
data.head()

,tipo_de_sala,nombre,id_usuario,genero,edad,amigos,parientes,id_ticket,precio_ticket,fila,nombre_sede
0,4d,Señor Camilo Pedro,117,hombre,73.5,0,0,59258;,1,NaN,fiumark_quilmes
1,4d,Señora Raquel Angelica,658,mujer,35.0,1,1,586:6;,2,NaN,fiumark_quilmes
2,normal,Señor Antonio Federico,794,hombre,NaN,0,0,"RE""39822",3,NaN,fiumark_chacarita
3,4d,Señor Osvaldo Aureliano,455,hombre,NaN,0,0,"C17""4:39",1,NaN,fiumark_palermo
4,4d,Señorita Rita Eudosia,173,mujer,4.0,1,1,569964,2,NaN,fiumark_palermo

In [3]:
pred = get_prediction()
pred.head()

0    0
1    0
2    0
3    0
4    1
Name: volveria, dtype: int64

## Dividimos los datos

Separamos el holdout

In [4]:
X_train_val, X_holdout, y_train_val, y_holdout = split_data(data, pred)
X_train_val.head()

,tipo_de_sala,nombre,id_usuario,genero,edad,amigos,parientes,id_ticket,precio_ticket,fila,nombre_sede
239,normal,Señor Celestino Miguel,797,mujer,52.0,0,0,39687,3,adelante,fiumark_palermo
281,4d,Señora Reina Benita,141,mujer,NaN,0,2,489:,2,NaN,fiumark_chacarita
504,3d,Señor Emeterio de Jesus,309,hombre,33.0,1,0,"R1RR""55:3",3,NaN,fiumark_chacarita
230,4d,Señor Juan Jorge Alberto,158,hombre,33.0,0,0,"UQVQP1QS""5;42;2",1,NaN,fiumark_palermo
738,4d,Señor Pablo Augusto,495,hombre,24.0,0,0,"C16""675:2",1,NaN,fiumark_palermo

Separamos el validation

In [5]:
X_train, X_val, y_train, y_val = split_data(X_train_val, y_train_val)
X_train.head()

,tipo_de_sala,nombre,id_usuario,genero,edad,amigos,parientes,id_ticket,precio_ticket,fila,nombre_sede
475,4d,Señor Ignacio Nazar,689,hombre,21.0,0,0,572258,1,NaN,fiumark_palermo
247,4d,Señor Abel Omar,644,hombre,NaN,0,0,3823,6,NaN,fiumark_palermo
726,normal,Señor Fausto Rene,468,hombre,59.0,0,0,3359;4,3,NaN,fiumark_palermo
106,3d,Señora Irma Pascualina,707,mujer,48.0,0,0,4457;8,2,NaN,fiumark_palermo
206,4d,Señor Ovidio Valentin,871,hombre,29.0,0,0,56;46:,1,NaN,fiumark_palermo

## Entrenamos los modelos

Al igual que la mayoria de los modelos se preprocesara de las formas anteriormente explicadas

In [6]:
# Con la columna fila
prep_base_1 = prep.Preprocessing(
    [prep.Drop_high_cardinals(), prep.Dummy_variables()]
)

# Rellenado de nan con zeros
prep_1 = prep.Preprocessing(
    [prep_base_1, prep.Nan_to_zero()]
)

# Rellenado de nan con la media
prep_2 = prep.Preprocessing(
    [prep_base_1, prep.Nan_to_mean()]
)

# Rellenado de nan con la moda
prep_3 = prep.Preprocessing(
    [prep_base_1, prep.Nan_to_mode()]
)

# Rellenado de nan con la median
prep_4 = prep.Preprocessing(
    [prep_base_1, prep.Nan_to_median()]
)

In [7]:
# Sin la columna fila
prep_base_2 = prep.Preprocessing(
    [prep.Drop_high_cardinals(), prep.Drop_column_nan(), prep.Dummy_variables()]
)

# Rellenado de nan con zeros
prep_5 = prep.Preprocessing(
    [prep_base_2, prep.Nan_to_zero()]
)

# Rellenado de nan con la media
prep_6 = prep.Preprocessing(
    [prep_base_2, prep.Nan_to_mean()]
)

# Rellenado de nan con la moda
prep_7 = prep.Preprocessing(
    [prep_base_2, prep.Nan_to_mode()]
)

# Rellenado de nan con la median
prep_8 = prep.Preprocessing(
    [prep_base_2, prep.Nan_to_median()]
)

In [8]:
list_preprocessing = [
    # con la columna fila
    prep_1, prep_2, prep_3, prep_4,
    # sin la columna fila
    prep_5, prep_6, prep_7, prep_8
]

Definimos el modelo

In [9]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [10]:
model_bagging = BaggingClassifier(
    random_state = 20, n_jobs=-1
)

Los entrenamos buscando la mejor combinacion de numero de estimadores y estimador base

In [ ]:
from common import super_training
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators': np.arange(1, 50),
    'base_estimator': [
        DecisionTreeClassifier(max_depth=3, random_state=20),
        DecisionTreeClassifier(max_depth=4, random_state=20),
        DecisionTreeClassifier(max_depth=5, random_state=20),
        DecisionTreeClassifier(max_depth=6, random_state=20)
    ]
}

# 15 minutos para entrenar
models_preprocessing = super_training(
    X_train, y_train, list_preprocessing, 
    GridSearchCV(
        model_bagging, params, scoring='roc_auc', n_jobs=-1, cv=5
    )
)

In [ ]:
from common import get_proba_predicts

proba_predictions = get_proba_predicts(models_preprocessing, X_val)

Comparamos los distintos modelos mediante la curva auc roc.

In [ ]:
from common import plot_rocs

best_model_index = plot_rocs(proba_predictions, y_val, 4, 2)

Escogemos el mejor modelo, que en este caso es el 6

In [ ]:
best_bagging, preprocessing = models_preprocessing[best_model_index]
best_bagging

Con el siguiente preprocesado

In [ ]:
preprocessing.function()

## Vemos las metricas del mejor modelo

Preprocesamos los datos

In [ ]:
X_holdout_ = preprocessing.transform(X_holdout)
X_holdout_.head()

In [ ]:
from common import plot_roc
plot_roc(y_holdout, best_bagging.predict_proba(X_holdout_)[:,1])

In [ ]:
from common import plot_confusion
plot_confusion(
    best_bagging, 
    X_holdout_, 
    y_holdout
)

In [ ]:
from common import plot_metrics
plot_metrics(
    y_holdout, 
    best_bagging.predict_proba(X_holdout_)[:,1], 
    best_bagging.predict(X_holdout_)
)

# Hacemos la predicción sobre el holdout de la empresa

In [ ]:
from common import get_holdout
X_holdout_empresa = get_holdout()
X_holdout_empresa.head()

Preprocesamos el holdout de la empresa con el mejor preprocesamiento para este modelo y separamos

In [ ]:
ussers = X_holdout_empresa['id_usuario']
X_holdout_empresa_ = prep.Preprocessing_Bagging_Boosting().transform(X_holdout_empresa)
X_holdout_empresa_.head()

Predecimos con el mejor modelo

In [ ]:
volveria = best_bagging.predict(X_holdout_empresa_)
volveria

Generamos el dataframe de las predicciones

In [ ]:
import pandas as pd
predictions = pd.DataFrame({
    'id_usuario': ussers, 
    'volveria': volveria
})
predictions.head()

Guardamos el archivo

In [ ]:
predictions.to_csv(
    'Bagging.csv', 
    columns=predictions.columns, 
    index=False
)